@import "shared";
@import "general";

$topbarsize: 60px;
#topbar{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;

    background: $white;

    height: $topbarsize;
    width: 100%;

    .open_menu{
        display: inline-block;
        vertical-align: middle;

        height: $topbarsize;
        width: $topbarsize * 2;

        .clear_button{
            height: $topbarsize;
            width: $topbarsize;

            font-size: 29px;
            font-family: $icons;
            color: $darkgrey;
            text-align: center;
            line-height: $topbarsize;

            transition: color .3s, background .3s;

            &:hover{
                background: $cream;
                color: $white;
            }
        }
    }

    .logo{
        display: inline-block;
        vertical-align: middle;

        height: $topbarsize;
        width: calc(100% - (#{$topbarsize} * 4));

        text-align: center;

        a{
            display: inline-block;

            padding: 0 15px;

            line-height: $topbarsize;
            text-align: center;
            color: $cream;
            font-weight: 700;
            font-size: 24px;
            letter-spacing: 3px;

            transition: color .3s;

            &:hover{
                color: $darkgrey;
            }
        }
    }

    .user_icons{
        display: inline-block;
        vertical-align: middle;

        height: $topbarsize;
        width: $topbarsize * 2;

        .icon_item{
            display: inline-block;
            vertical-align: middle;

            a{
                display: block;
    
                height: $topbarsize;
                width: $topbarsize;
    
                font-size: 25px;
                font-family: $icons;
                color: $darkgrey;
                text-align: center;
                line-height: $topbarsize;

                transition: color .3s;
    
                &:hover{
                    color: $cream;
                }
            }
        }
    }
}

#products{
    padding: 100px 0;
    background: $white;

    .products_title{
        padding: 0 30px;
        max-width: 300px;

        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 140%;
    }

    .products_list{
        display: grid;
        grid-template-columns: 50% 50%;

        .product_item{
            position: relative;

            padding: 50px;

            text-align: center;

            a{
                display: block;

                .product_picture{
                    display: inline-block;

                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

#slider_banner{
    .swiper-container{
        .swiper-button-prev,
        .swiper-button-next{
            width: 50px;
            height: 50px;
            
            color: $black;
            font-family: $icons;
            font-size: 50px;
            text-align: center;
            line-height: 50px;

            background: transparent;

            transition: color .3s;

            &:hover{
                color: $cream;
            }
        }
    }
}

#floating_menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 0;
    height: 100%;

    overflow: hidden;

    background: rgba($white, .98);

    transition: width .3s;

    &.open{
        width: 100%;

        overflow: auto;
    }

    .close_menu{
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;

        width: $topbarsize;
        height: $topbarsize;

        font-size: 29px;
        font-family: $icons;
        color: $darkgrey;
        text-align: center;
        line-height: $topbarsize;

        transition: color .3s;

        &:hover{
            color: $cream;
        }
    }

    .menu{
        padding: 100px 0;

        .menu_picture{
            display: inline-block;
    
            width: 200px;
    
            img{
                max-width: 100%;
            }
        }
    
        .menu_section{
            display: inline-block;
    
            width: calc(100% - 200px);
            padding-left: 30px;
    
            .menu_list{
                .menu_item{
                    &:not(:first-of-type){
                        padding-top: 15px;
                    }

                    a{
                        font-size: 20px;
                        font-family: $playfair;
                        color: $darkgrey;
                        line-height: 160%;
    
                        transition: color .3s;
    
                        &:hover{
                            color: $cream;
                        }
                    }
    
                    .submenu_list{
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}

#content{
    padding-top: $topbarsize;
}

#main_banner{
    background: $lightgrey;
}

.banner{
    position: relative;
    overflow: hidden;

    .banner_picture_small{
        display: none;
    }

    .banner_picture{
        img{
            width: 100%;
        }
    }

    .banner_function{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;

        width: 100%;
        height: 100%;

        padding: 30px;

        .banner_text{
            max-width: 1000px;
            padding: 30px 0;

            color: $white;
            text-shadow: 1px 1px 2px rgba($black, .6);
            font-size: 24px;
            line-height: 120%;
        }

        .banner_button{
            .button{
                width: auto;
                height: auto;

                padding: 20px 40px;

                line-height: 100%;
                text-transform: uppercase;
                font-weight: 700;

                background: rgba($black, .6);

                transition: background .3s;

                &:hover{
                    background: rgba($cream, .6);
                }
            }
        }
    }
}

#catch_phrase{
    padding: 50px 0;

    .container{
        max-width: 1170px;

        line-height: 160%;
        font-size: 30px;
        font-family: $playfair;
        text-align: center;
    }
}

#footer{
    background: $white;

    padding: 50px 0 65px;

    .footer_links{
        display: grid;
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);

        text-align: center;

        .institutional_links{
            .institutional_links-item{
                a{
                    font-size: 16px;
                    letter-spacing: 3px;
                    color: $darkgrey;
                    line-height: 200%;
                    text-transform: uppercase;

                    transition: color .3s;

                    &:hover{
                        color: $cream;
                    }
                }
            }
        }

        .social_media_links{
            .social_media-item{
                display: inline-block;
                vertical-align: middle;

                a{
                    display: block;

                    padding: 15px;

                    svg{
                        width: 32px;
                        height: 32px;

                        path{
                            fill: $darkgrey;

                            transition: fill .3s;
                        }
                    }

                    &:hover{
                        svg path{
                            fill: $cream;
                        }
                    }
                }
            }
        }
    }

    .newsletter{
        padding-top: 50px;
        
        text-align: center;

        .newsletter_spacer{
            width: 1px;
            height: 60px;

            margin: 0 auto 30px;

            background: $black;
        }

        .newsletter_title{
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 3px;

            padding-bottom: 15px;
        }

        form{
            max-width: 400px;
            margin: auto;

            input{
                border: 1px solid $black;

                height: 60px;
                padding: 0 15px;

                text-align: center;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            button{
                display: block;

                border: 1px solid $black;
                border-top: 0;

                height: 60px;
                width: 100%;

                text-align: center;
                text-transform: uppercase;
                font-size: 16px;
                letter-spacing: 2px;
                font-weight: 700;

                transition: background .3s, color .3s;

                &:hover{
                    background: $black;
                    color: $white;
                }
            }
        }
    }
}

@media(min-width: 921px) and (max-width: 1280px){
    .banner{
        .banner_function{
            padding: 30px;

            .banner_text{
                padding: 0;
                font-size: 16px;
            }

            .banner_button{
                padding-top: 15px;
            }
        }
    }
}

@media(max-width: 920px){
    .banner{
        .banner_picture_small{
            display: block;
        }
        
        .banner_picture_normal{
            display: none;
        }
    }
}

@media(max-width: 760px){
    #footer{
        .footer_links{
            grid-template-columns: 100%;
            grid-template-areas:    'institutional1'
                                    'institutional2'
                                    'social';

            .institutional_links:nth-child(1){
                grid-area: institutional1;
            }
            .institutional_links:nth-child(3){
                grid-area: institutional2;
            }

            .social_media_links{
                padding: 30px 0;

                grid-area: social;
            }
        }

        .newsletter{
            padding: 0;
        }
    }

    #products{
        padding: 30px 0;

        .products_title{
            padding: 0;

            line-height: 100%;
            font-size: 20px;
            letter-spacing: 1px;
        }

        .products_list{
            display: block;

            .product_item{
                padding: 30px 0;
            }
        }
    }

    .banner{
        .banner_picture_small{
            display: block;
        }
        
        .banner_picture_normal{
            display: none;
        }

        .banner_function{
            padding: 30px;

            .banner_text{
                padding: 0;
            }

            .banner_button{
                padding-top: 15px;
            }
        }
    }

    #catch_phrase{
        .container{
            font-size: 18px;
        }
    }
}

@media(max-width: 480px){
    .banner{
        .banner_picture_small{
            display: block;
        }
        
        .banner_picture_normal{
            display: none;
        }

        .banner_function{
            .banner_text{
                padding: 0;

                font-size: 14px;
            }
        }
    }
}

@media(max-width: 320px){
    #topbar{
        .open_menu{
            width: $topbarsize;
        }

        .logo{
            width: calc(100% - (#{$topbarsize} * 2));
        }

        .user_icons{
            width: $topbarsize;

            line-height: $topbarsize;

            .icon_item a{
                width: $topbarsize/2;
                height: $topbarsize/2;

                line-height: $topbarsize/2;
            }
        }
    }

    #floating_menu{
        .menu{
            .menu_picture{
                display: block;

                padding-bottom: 30px;
            }

            .menu_section{
                width: 100%;
                padding: 0;
            }
        }
    }

    .banner{
        .banner_picture_small{
            display: block;
        }
        
        .banner_picture_normal{
            display: none;
        }

        .banner_function{
            padding: 15px;

            .banner_text{
                padding: 0;

                font-size: 12px;
                line-height: 100%;
            }

            .banner_button{
                padding-top: 15px;

                .button{
                    padding: 10px 15px;

                    font-size: 12px;
                }
            }
        }
    }

    #catch_phrase{
        padding: 15px 0;

        .container{
            line-height: 140%;
            font-size: 15px;
        }
    }
}